.DS_Store
.tmp
.project
bower_components/
dist/
libs/
node/
node_modules/
public/
node_tmp/
patternlab.json
.sass-cache/*
/sass-cache
src/css/*.css.map
src/css/scss/font-awesome/
Thumbs.db
.idea/
public
