<form class="c-form c-form--stacked" method="post" action="{{ link.pages-dashboard }}">
	{{# formTitle }}
	<h2 class="c-form__title c-section__title">{{ formTitle }}</h2>
	{{/ formTitle }}
	{{# fields }}
	{{> compounds-field }}
	{{/ fields }}

	{{# textarea }}
	{{> compounds-textarea }}
	{{/ textarea }}

	<div class="c-form__actions">
		{{> elements-button }}
	</div>
</form><!--end c-form--stacked-->
